:root {
  --background-top-color: #146cdb;
  --background-bottom-color: #07274f;
  --color-top-contrast: #fff;
  --color-bottom-contrast: #fff;
}

body {
  background: linear-gradient(
      var(--background-top-color),
      var(--background-bottom-color)
    )
    no-repeat;
  height: 100vh;
  color: var(--color-top-contrast);
}

header {
  height: 10vh;
  display: flex;
}

footer {
  height: 6vh;
  display: flex;
}

.content {
  min-height: 40vh;
  max-height: 80vh;
  outline: 1px solid red;
}

code {
  font-family: monospace;
  font-size: medium;
  display: block;
  white-space: pre-wrap;
}

.hidden {
  display: none;
}

.results {
  display: block;
}

.login {
  display: block;
}

.questions {
  display: block;
}
